on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_call: {}

concurrency:
  group: '${{ github.workflow }} - ${{ github.head_ref || github.ref }}'
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read
  pull-requests: write

jobs:

  check:
    strategy:
      matrix:
        node-version:
          - 18
          - 20
          - 22
          - 24

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Yarn
        run: corepack enable

      - name: Install Packages
        run: yarn install

      - name: Type Check
        run: yarn typecheck

      - name: Lint
        run: yarn lint

      - name: Test Coverage
        run: yarn coverage

      - name: Upload Coverage
        if: ${{ matrix.node-version == 22 && github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: coverage
