on:
  workflow_dispatch: {}
  release:
    types:
      - published

jobs:
  check:
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  publish:
    needs: check

    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.com'
          check-latest: true
      - name: Setup Yarn
        run: corepack enable

      - name: Install Packages
        run: yarn install

      - name: Build
        run: yarn build

      - name: Publish
        run: |
          npm install -g npm@latest
          npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
