on:
  workflow_dispatch: {}
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  check:
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  publish:
    needs: check

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - name: Setup Yarn
        run: corepack enable

      - name: Install Packages
        run: yarn install

      - name: Build
        run: yarn build

      - name: Update npm
        run: npm install -g npm@latest

      - name: Trusted Publish with Provenance
        run: NODE_AUTH_TOKEN="" npm publish # Empty token, see actions/setup-node#1440
